/* Ini File css */

main {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.main-title {
    text-align: center;
} 

/* Main Section */
.main-section {
    padding: 16px;
    background-color: aliceblue;
    border-radius: 4px;
}

input {
    width: 100%;
    height: 52px;
    resize: none;
    border: 2px solid lavender;
    border-radius: 4px;
    font-size: 16px;
    color: coral;
}


/* Section Calculation */
.section-calculation {
    padding-left: 8px;
    padding-right: 8px;
}

.section-celcius {
    padding-top: 16px;
}

.section-fahrenheit {
    padding-top: 16px;
}

.section-result {
    padding-top: 16px;
}

/* Section Link */
.section-link {
    padding-top: 32px;
}

a {
    text-decoration: none;
    color: magenta;
}


/* Section Explanation */
.section-explanation {
    padding-top: 1px;
}

span {
    font-size: 1.3em;
}

.formula {
    line-height: 200%;
}


/* Style Button */
.container-button {
    padding-top: 8px;
}

button {
    border: none;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    font-family: arial;
}

/* Button Celcius-Fahrenheit */
#button-convert-cf {
    background-color: forestgreen;
    color: white;
    margin-right: 8px;
}

#button-reset-cf {
    background-color: royalblue;
    color: white;
    margin-right: 8px;
}

#button-reverse-cf {
    background-color: palevioletred;
    color: white;
}

/* Button Celcius-Fahrenheit */
#button-convert-fc {
    background-color: forestgreen;
    color: white;
    margin-right: 8px;
}

#button-reset-fc {
    background-color: royalblue;
    color: white;
    margin-right: 8px;
}

#button-reverse-fc {
    background-color: palevioletred;
    color: white;
}
